
  .dialog {
    display: none;
  }

  #dialog-create-user #email {
    width: 100%;
    margin: 10px 0;
    display: block;
  }

.navbar-static-top {
  margin-bottom: 19px;
  background: #384F7F;
  }

/* Spacing in New event box */

  .time-dropdown {
    width: 318px !important;
  }


 #calEventDialog .table-style {
   display: table;
 }
 
#calEventDialog .one-line-input {
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
}

#calEventDialog .input-box {
  display: table-cell;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
 }

#calEventDialog .input-group {
  padding-top: 7px;
  padding-bottom: 7px;
 }

#calEventDialog #detail-div {
  padding-top: 7px;
  padding-bottom: 10px;
 }

#calEventDialog .dialog-element {
  display: table-row;
}

/* dialog boxes */

.ui-dialog {
  border: 1px solid #384F7F !important;
  padding: 0px;
}

/* Title Bar */

.ui-dialog-titlebar,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: #384F7F;
  border: 0px;
}

.ui-dialog-title, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #dfdfdf;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #afafaf;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #afafaf;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.ui-dialog-titlebar, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #dfdfdf;
}
}

.navbar-collapse, .navbar-default .navbar-collapse {
  border-top: 1px solid #888888;
}

.navbar-default .navbar-toggle {
  border-color: #888888;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #30436C;
}


.ui-corner-all {
  border-radius: 0px;
}

/* Tables */

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle;
}

.btn, .ui-button, .fc-button {
  border-radius: 0px;
  background: #dfdfdf;
  border: 0px;
  border-radius: 0px!important;
}

.btn:focus, .ui-button:focus {
  border-radius: 0px;
  background: #d3d3d3;
  border: 0px;
}

.btn:hover, .ui-button:hover, .fc-button:hover, .fc-button:focus, .fc-state-down, .fc-state-active {
  border-radius: 0px;
  background: #cfcfcf;
  border: 0px;
}

table caption{ 
  font-weight: bold;
}

/* Forms */

.form-control:focus {
  border-color: #384F7F;
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(56, 79, 128, 0.6);*/
  box-shadow: none;
}

.alert {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.padded-button {
  padding: 8px;
}

/* Calendar */

 #calendar {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  margin: 0 auto;
  }

.fc-event {
  background: #384F7F;
  border: 1px solid #384F7F;
}

.fc-event .fc-bg {
  opacity: 0.17;
}

.fc-unthemed td.fc-today {
  background: #EBEDF2;
}